.main{
    margin-top: 100px;
}

.main__body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main__title-container{
    text-align: center;
    font-style: normal;
    font-weight: 400;
    background: #F3F7F2;
}

.main__title{
    margin-top: 170px;
}

.main__text{
    width: 612px;
    text-align: center;
    font-size: 56px;
    font-weight: 400;
    line-height: 64px;
}

.landing-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 100px;
}

.pages__container{ /* landing container*/
    display: flex;
    flex-direction: column;
    background: #F2F8F8;
    border-radius: 12px;
    margin-left: 40px;
}

.pages__margin{ /* third container*/ 
    margin-top: 40px;
}

.third-container{
    margin-top: 40px;
}

.pages__space{ /*landing item*/
    padding: 30px 60px;
}

.pages__title{ /*landing title*/
    font-size: 26px;
    font-weight: 400;
    line-height: 32px;
}

.company-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.company-pages_wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.contact-container{
    margin-top: 40px;
}

.pages__hiden{
    display: none;
}

.pages__show{
    display: block;
}