@media (max-width:576px){

    body{
        --container-width: 576px;
        --text-width: 320px;
    }

    .content__text-wrapper{
        max-width: var(--text-width);
    }

    .title{
        font-size: 21px;
        font-weight: 600;
    }

    .item{
        max-width: var(--text-width);
        font-size: 34px;
    }
}

@media (max-width:612px) {
    .main__text{
        width: 320px;
        font-size: 36px;
    }
}

@media (max-width: 800px) {
    .burger{
        display: block;
    }

    .nav__list{
        display: none;
    }
}

@media (max-width:1132px) {
    .pages__space{
        padding: 30px 40px;
    }
}

@media (max-width:1052px) {
    .pages__space{
        padding: 30px 30px;
    }
}

@media (max-width:1051px) {
    .landing-wrapper{
        grid-template-columns: 1fr;
    }

    .landing-container{
        margin-left: 0;
    }

    .pages__space{
        padding: 60px 60px;
    }

    .pages__title{
        font-size: 36px;
    }

    .pages__margin-media{
        margin-top: 40px;
    }
}

@media (max-width:425px) {
    .pages__space{
        padding: 60px 10px;
    }
}

@media (max-width:418px) {
    .landing__image{
        width: 320px;
    }

    .pages__space{
        padding: 10px 40px;
    }
}

@media (max-width:320px) {
    .landing__image{
        width: 300px;
    }

    .pages__space{
        padding: 10px 5px;
    }

    .pages__title{
        font-size: 26px;
    }

}