@media (max-width:1280px) {
    .main__image{
        width: 1000px;
    }
}

@media (max-width:900px) {
    .main__image{
        width: 700px;
    }
}

@media (max-width:1000px) {
    .main__image{
        width: 900px;
    }
}

@media (max-width:700px) {
    .main__image{
        width: 600px;
    }
}

@media (max-width:600px) {
    .main__image{
        width: 500px;
    }
}

@media (max-width:500px) {
    .main__image{
        display: none;
    }

    .main{
        margin-top: 40px;
    }

    .main__title{
        margin-top: 50px;
    }
}