@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html{
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 0;
    padding: 0;

    --container-width: 1440px;
}

.container{
    max-width: var(--container-width);
    margin: 0 auto;
}

.content__wrapper{
    display: flex;
    justify-content: center;
}

.content__wrapper .title{
    text-align: center;
    padding: 20px;
    background: #F3F7F2;
    border-radius: 4px;

    font-weight: 400;
}

.item{
    width: 576px;
    text-align: center;
    line-height: 80px;
    font-size: 64px;
    font-weight: 400;
}