@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html{
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;

    --container-width: 1440px;
    --pagesTitle-padding: 20px;
}

.container{
    max-width: var(--container-width);
    margin: 0 auto;
}

.content__wrapper{
    display: flex;
    justify-content: center;
}

.content__wrapper .title{
    text-align: center;
    padding: var(--pagesTitle-padding);
    background: #F3F7F2;
    border-radius: 4px;

    font-weight: 400;
}

.item{
    width: 576px;
    text-align: center;
    line-height: 80px;
    font-size: 64px;
    font-weight: 400;
}

.main__title-container{
    padding: var(--pagesTitle-padding);
}

.upBtn{
    position: fixed;
    right: 24px;
    bottom: 24px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 60px;
    height: 60px;

    background-color: #153C3C;
    border-radius: 50%;
    text-decoration: none;
    color: #fff;
    font-size: 34px;
    cursor: pointer;
    transition: 0.5s;
}

.upBtn:hover{
    background-color: pink;
}

.upBtn.active{
    display: none;
}